<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <div th:replace="~{fragment :: meta}"></div>   
             
        <div th:replace="~{fragment :: styles}"></div>
        
        <title>民宿詳細</title>       
    </head>
    <body>
        <div class="moattravel-wrapper">
            <!-- ヘッダー -->
            <div th:replace="~{fragment :: header}"></div>
            
            <main>
                <div class="container pt-4 pb-5 moattravel-container">
                    <div class="row justify-content-center">
                        <div class="col-xxl-9 col-xl-10 col-lg-11">
                            
                            <div class="d-flex justify-content-between align-items-center mb-4">
                                <h1 th:text="${house.getName()}">民宿名</h1>
                                <a th:href="@{/houses}" class="text-secondary">&lt; 民宿一覧に戻る</a>
                            </div>
                            
                            <div th:if="${successMessage}" class="alert alert-info">
                                <span th:text="${successMessage}"></span>
                            </div>
                            
                            <div class="mb-4">
                                <img th:if="${house.getImageName()}" th:src="@{/storage/__${house.getImageName()}__}" class="w-100 rounded" alt="民宿画像">
                                <img th:unless="${house.getImageName()}" th:src="@{/images/noImage.png}" class="w-100 rounded" alt="NO IMAGE">
                            </div>
                            
                            <div class="row">
                                <div class="col-lg-8 container mb-4">
                                    <form method="get" th:action="@{/houses/__${house.getId()}__/reservations/input}">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th scope="col" class="w-25">民宿名</th>
                                                        <td th:text="${house.getName()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">説明</th>
                                                        <td th:text="${house.getDescription()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">宿泊料金</th>
                                                        <td>
                                                            <span th:text="${#numbers.formatInteger(house.getPrice(), 1, 'COMMA') + '円 / 1泊'}"></span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">定員</th>
                                                        <td th:text="${house.getCapacity() + '人'}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">郵便番号</th>
                                                        <td th:text="${house.getPostalCode()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">住所</th>
                                                        <td th:text="${house.getAddress()}"></td>
                                                    </tr>
                                                    <tr>
                                                        <th scope="col">電話番号</th>
                                                        <td th:text="${house.getPhoneNumber()}"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        
                                        <div class="form-group">
                                            <button type="submit" class="btn text-white shadow-sm w-100 moattravel-btn">予約する</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </main>
            
            <!-- フッター -->
            <div th:replace="~{fragment :: footer}"></div>
        </div>    
        
        <div th:replace="~{fragment :: scripts}"></div>  
    </body>
</html>